
.App {
  text-align: center;
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#quote-box {
  position: relative;
  padding: 20px 30px;
  border-radius: 2px;
  background-color: #5a5e81;
  width: 500px;
  display: table;
}

#text {
  font-size: 24px;
  text-align: center;
  color: #61dafb;
}

#author {
  font-size: 18px;
  color: #ccc;
  text-align: right;
  margin-bottom: 10px;
  padding: 20px;
}

#new-quote {
  background-color: #61dafb;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}
#new-quote:hover {
  opacity: 0.8;
}

#tweet-quote {
  color: black;
  border: none;
  cursor: pointer;
  float: left;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  bottom: 35%;
}

